.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* nav styles */

header {
    background-image: url("../Assets/Hero-bg.png");
    height: 698px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 0;

}

.LOGO {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}

/* banner styles */

.banner {
    text-align: center;

    margin-top: 158px;

}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    color: #252432;
}

.btn-banner {
    width: 174px;
    height: 48px;
    border: none;
     font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}


/* shared styles */


.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    height: 48px;
    width: 132px;
    border-radius: 10px;
}

/* action styles */

.action {
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 141px;
}

.title {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.subtitle {
    font-weight: 24px;
    color : rgba(37, 36, 50, 0.5);
}
.btn-preview{
    width: 239px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.left-side{
    width:517px ;
    height: 203px;
}

.img-action{
    width: 403px;
    height: 328px;
    border-radius: 48px;

}