.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/* nav styles */

header {
    background-image: url("../Assets/Hero-bg.png");
    height: 698px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px 0;

}

.LOGO {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}

/* banner styles */

.banner {
    text-align: center;

    margin-top: 158px;

}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
    color: #252432;
}

.btn-banner {
    width: 174px;
    height: 48px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}


/* shared styles */


.btn-primary {
    background-color: #4E47FF;
    color: #FFFFFF;
    height: 48px;
    width: 132px;
    border-radius: 10px;
}

.shared-margin {
    margin-left: 24px;
}

/* action styles */

.action {
    display: flex;
    justify-content: space-between;
    margin: 116px 159px 141px;
}

.title {
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}

.subtitle {
    font-weight: 24px;
    color: rgba(37, 36, 50, 0.5);
}

.btn-preview {
    width: 239px;
    font-size: 16px;
    font-weight: bold;
    border: none;
}

.left-side {
    width: 517px;
    height: 203px;
}

.img-action {
    width: 403px;
    height: 328px;
    border-radius: 48px;

}


/* users sections style */


.users-section {
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1140px;
    height: 306px;
    margin: 0 auto;
    text-align: center;
    border-radius: 24px;



}

.users-title {
    text-align: center;
    margin-bottom: 0;
    padding: 50px 0 0 0;
}



.data-container {
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    width: 100%;
    margin-top: 0;

}

.users-title {
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 0;
}

.data {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0;
}

.data-description {
    font-size: 20px;
    color: rgba(204, 204, 204, 1);
    margin-top: 0;
}

/* users feedback section style */


.users-feedback {
    max-width: 1140px;
    margin: 137px 150px;
}



.feedback-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 0;
}

.feedback-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0 0;
    padding: 24px;
    gap: 20px;

}

.feedback {
    background-color: rgba(248, 248, 248, 1);
    border-radius: 14px;
}

.reviewer-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
    margin: 24px 0 8px 24px;
}

.comment- {
    font-size: 16px;
    font-weight: 600;
    color: rgba(30, 30, 30, 1);

}

.name {
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}

.date {
    font-size: 16px;
    font-weight: 600;
    color: rgba(204, 204, 204, 1);
}

.star-icon {
    margin: 24px 0 0 24px;
}

.person {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* focus section styles */

.focus-section {
    text-align: center;
    max-width: 1140px;
    height: 690px;
    margin: 0 auto 93px;
    background-color: rgba(248, 248, 248, 1);
    border-radius: 40px;
    padding:0 0 71px 0;
}

.focus-title {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 71px 0 0 0;
}

.focus-subtitle {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.focus-btn {

    margin: 20px 0 20px 0;
    border: none;
    width: 194px;
}

.wc-big {
    border-radius: 48px;
    max-width: 840px;
}

/* get-in-touch-section styles */

.get-in-touch-section {
    max-width: 1140px;
    display: flex;
    padding: 71px 0;
    margin: 0 auto;
    justify-content: space-between;
}

.get-in-touch-title {
    font-size: 97px;
    font-weight: bold;
    color: #000000;
}


/* form styles */

.text {
    width: 497px;
    height: 70px;
    border: none;
    border-radius: 10px;
    background-color: rgba(248, 248, 248, 1);
    padding: 20px 0 20px 32px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    margin: 10px 0 19px 0;
}

.text-area {
    border: none;
    background-color: rgba(248, 248, 248, 10);
    border-radius: 10px;
    font-size: 20;
    margin-top: 19px;
}

.get-in-touch-button{
    width: 100%;
    margin-top: 19px;
    border: none;
}